/*-----------------------------------*\

  * ======= *
  * The Rod *
  * ======= *

  The Rod is a grid based on Zurb's Foundation Grid
  and $TOAST-GRID by Dan Eden.


  Settings
  ========

  * Namespaces *

  $ns-row - namespace for row container
  $ns-column - namespace for column

  * Gutters *

  $gt-width - gutter width

  * Container *

  $rm-width - container maximal width

  * Breakpoints *

  $bp-medium - medium screen breakpoint
  $bp-small - small screen breakpoint

  * Groups *

  $cl-groups - column groups

  * Base font *

  $bf-size - base font size

  ========
  That's it. Have fun and build easy.

\*-----------------------------------*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block;
  min-width: 100%;
  height: auto;
  vertical-align: middle; }

.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .row.expanded {
    max-width: 100%; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }

.large--3-3,
.medium--3-3,
.small--3-3, .large--4-4,
.medium--4-4,
.small--4-4, .large--5-5,
.medium--5-5,
.small--5-5, .large--12-12,
.medium--12-12,
.small--12-12 {
  width: 100%; }

.large--2-4,
.medium--2-4,
.small--2-4, .large--6-12,
.medium--6-12,
.small--6-12 {
  width: 50%; }

.large--1-3,
.medium--1-3,
.small--1-3, .large--4-12,
.medium--4-12,
.small--4-12 {
  width: 33.3333333333%; }

.large--2-3,
.medium--2-3,
.small--2-3, .large--8-12,
.medium--8-12,
.small--8-12 {
  width: 66.6666666667%; }

.large--1-4,
.medium--1-4,
.small--1-4, .large--3-12,
.medium--3-12,
.small--3-12 {
  width: 25%; }

.large--3-4,
.medium--3-4,
.small--3-4, .large--9-12,
.medium--9-12,
.small--9-12 {
  width: 75%; }

.push--3-3, .push--4-4, .push--5-5, .push--12-12 {
  margin-left: 100%; }

.push--2-4, .push--6-12 {
  margin-left: 50%; }

.push--1-3, .push--4-12 {
  margin-left: 33.3333333333%; }

.push--2-3, .push--8-12 {
  margin-left: 66.6666666667%; }

.push--1-4, .push--3-12 {
  margin-left: 25%; }

.push--3-4, .push--9-12 {
  margin-left: 75%; }

.pull--3-3, .pull--4-4, .pull--5-5, .pull--12-12 {
  margin-left: -100%; }

.pull--2-4, .pull--6-12 {
  margin-left: -50%; }

.pull--1-3, .pull--4-12 {
  margin-left: -33.3333333333%; }

.pull--2-3, .pull--8-12 {
  margin-left: -66.6666666667%; }

.pull--1-4, .pull--3-12 {
  margin-left: -25%; }

.pull--3-4, .pull--9-12 {
  margin-left: -75%; }

.large--1-5,
.medium--1-5,
.small--1-5 {
  width: 20%; }

.push--1-5 {
  margin-left: 20%; }

.pull--1-5 {
  margin-left: -20%; }

.large--2-5,
.medium--2-5,
.small--2-5 {
  width: 40%; }

.push--2-5 {
  margin-left: 40%; }

.pull--2-5 {
  margin-left: -40%; }

.large--3-5,
.medium--3-5,
.small--3-5 {
  width: 60%; }

.push--3-5 {
  margin-left: 60%; }

.pull--3-5 {
  margin-left: -60%; }

.large--4-5,
.medium--4-5,
.small--4-5 {
  width: 80%; }

.push--4-5 {
  margin-left: 80%; }

.pull--4-5 {
  margin-left: -80%; }

.large--1-12,
.medium--1-12,
.small--1-12 {
  width: 8.3333333333%; }

.push--1-12 {
  margin-left: 8.3333333333%; }

.pull--1-12 {
  margin-left: -8.3333333333%; }

.large--2-12,
.medium--2-12,
.small--2-12 {
  width: 16.6666666667%; }

.push--2-12 {
  margin-left: 16.6666666667%; }

.pull--2-12 {
  margin-left: -16.6666666667%; }

.large--5-12,
.medium--5-12,
.small--5-12 {
  width: 41.6666666667%; }

.push--5-12 {
  margin-left: 41.6666666667%; }

.pull--5-12 {
  margin-left: -41.6666666667%; }

.large--7-12,
.medium--7-12,
.small--7-12 {
  width: 58.3333333333%; }

.push--7-12 {
  margin-left: 58.3333333333%; }

.pull--7-12 {
  margin-left: -58.3333333333%; }

.large--10-12,
.medium--10-12,
.small--10-12 {
  width: 83.3333333333%; }

.push--10-12 {
  margin-left: 83.3333333333%; }

.pull--10-12 {
  margin-left: -83.3333333333%; }

.large--11-12,
.medium--11-12,
.small--11-12 {
  width: 91.6666666667%; }

.push--11-12 {
  margin-left: 91.6666666667%; }

.pull--11-12 {
  margin-left: -91.6666666667%; }

.column {
  display: block;
  float: left;
  padding-left: 1000%;
  padding-right: 1000%; }
  .column:last-child:not(:first-child) {
    margin-right: 0;
    float: right; }
  .column.first {
    float: left; }
  .column.last {
    float: right; }
  .column.centered {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .column.no-gutter {
    padding-left: 0;
    padding-right: 0; }
  .column.close:last-child:last-child {
    float: left; }
  .column.hide-on-large {
    display: none; }
  .column.show-on-large {
    display: block; }
  @media screen and (max-width: 700px) and (min-width: 480px) {
    .column[class*="large"] {
      width: 100%;
      float: none; }
    .column[class*="push"], .column[class*="pull"] {
      margin-left: 0; }
    .column.hide-on-medium {
      display: none; }
    .column.show-on-medium {
      display: block; }
    .column.medium--1-3 {
      float: left;
      width: 33.3333333333%; }
    .column.medium--2-3 {
      float: left;
      width: 66.6666666667%; }
    .column.medium--3-3 {
      float: left;
      width: 100%; }
    .column.medium--1-4 {
      float: left;
      width: 25%; }
    .column.medium--2-4 {
      float: left;
      width: 50%; }
    .column.medium--3-4 {
      float: left;
      width: 75%; }
    .column.medium--4-4 {
      float: left;
      width: 100%; }
    .column.medium--1-5 {
      float: left;
      width: 20%; }
    .column.medium--2-5 {
      float: left;
      width: 40%; }
    .column.medium--3-5 {
      float: left;
      width: 60%; }
    .column.medium--4-5 {
      float: left;
      width: 80%; }
    .column.medium--5-5 {
      float: left;
      width: 100%; }
    .column.medium--1-12 {
      float: left;
      width: 8.3333333333%; }
    .column.medium--2-12 {
      float: left;
      width: 16.6666666667%; }
    .column.medium--3-12 {
      float: left;
      width: 25%; }
    .column.medium--4-12 {
      float: left;
      width: 33.3333333333%; }
    .column.medium--5-12 {
      float: left;
      width: 41.6666666667%; }
    .column.medium--6-12 {
      float: left;
      width: 50%; }
    .column.medium--7-12 {
      float: left;
      width: 58.3333333333%; }
    .column.medium--8-12 {
      float: left;
      width: 66.6666666667%; }
    .column.medium--9-12 {
      float: left;
      width: 75%; }
    .column.medium--10-12 {
      float: left;
      width: 83.3333333333%; }
    .column.medium--11-12 {
      float: left;
      width: 91.6666666667%; }
    .column.medium--12-12 {
      float: left;
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .column[class*="large"], .column[class*="medium"] {
      width: 100%;
      float: none; }
    .column[class*="push"], .column[class*="pull"] {
      margin-left: 0; }
    .column.hide-on-small {
      display: none; }
    .column.show-on-small {
      display: block; }
    .column.small--1-3 {
      float: left;
      width: 33.3333333333%; }
    .column.small--2-3 {
      float: left;
      width: 66.6666666667%; }
    .column.small--3-3 {
      float: left;
      width: 100%; }
    .column.small--1-4 {
      float: left;
      width: 25%; }
    .column.small--2-4 {
      float: left;
      width: 50%; }
    .column.small--3-4 {
      float: left;
      width: 75%; }
    .column.small--4-4 {
      float: left;
      width: 100%; }
    .column.small--1-5 {
      float: left;
      width: 20%; }
    .column.small--2-5 {
      float: left;
      width: 40%; }
    .column.small--3-5 {
      float: left;
      width: 60%; }
    .column.small--4-5 {
      float: left;
      width: 80%; }
    .column.small--5-5 {
      float: left;
      width: 100%; }
    .column.small--1-12 {
      float: left;
      width: 8.3333333333%; }
    .column.small--2-12 {
      float: left;
      width: 16.6666666667%; }
    .column.small--3-12 {
      float: left;
      width: 25%; }
    .column.small--4-12 {
      float: left;
      width: 33.3333333333%; }
    .column.small--5-12 {
      float: left;
      width: 41.6666666667%; }
    .column.small--6-12 {
      float: left;
      width: 50%; }
    .column.small--7-12 {
      float: left;
      width: 58.3333333333%; }
    .column.small--8-12 {
      float: left;
      width: 66.6666666667%; }
    .column.small--9-12 {
      float: left;
      width: 75%; }
    .column.small--10-12 {
      float: left;
      width: 83.3333333333%; }
    .column.small--11-12 {
      float: left;
      width: 91.6666666667%; }
    .column.small--12-12 {
      float: left;
      width: 100%; } }
